#Student Name: Ash Hoskins, Student #S559245
#Course: CSIS 44-609 - Data Analytics Fundamentals
#Professor Denise Case
#Domain: Geospatial data
#Module 4: Task Xtra

In [47]:
#Library Import
import pandas as pd
import re

In [48]:
#Create a list of contact information. Name, Email Phone
contacts = [['Ash Hoskins', 'S559245@nwms.edu', '3145559123'], ['Jim Jackson', 'Jackson@nwms.edu', '3144449999'], ['Sue Brown', 'demo2@deitel.com', '3145550000']]

In [49]:
#Create dataframe of contact list, break out columns.
df = pd.DataFrame(contacts, columns = ['Name', 'Email', 'Phone'])

In [50]:
#Display results of dataframe
df

          Name             Email       Phone
0  Ash Hoskins  S559245@nwms.edu  3145559123
1  Jim Jackson  Jackson@nwms.edu  3144449999
2    Sue Brown  demo2@deitel.com  3145550000

In [51]:
#Function used for mapping phone number column to match inputs with a specific class then uses join to modify the columns data.
def formated_phone(number):
    format = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', number)
    return '-'.join(format.groups()) if format else number

In [52]:
#creates a new dataframe with the phone column from the original dataframe mapped to the format function
new_contacts = df['Phone'].map(formated_phone)

In [53]:
#displayes formatted df
new_contacts

0    314-555-9123
1    314-444-9999
2    314-555-0000
Name: Phone, dtype: object

In [54]:
#Replaces existing data in df contacts with formatted data.
df['Phone'] = new_contacts

In [55]:
#Displays final results
df

          Name             Email         Phone
0  Ash Hoskins  S559245@nwms.edu  314-555-9123
1  Jim Jackson  Jackson@nwms.edu  314-444-9999
2    Sue Brown  demo2@deitel.com  314-555-0000